* {
    background-color: black;
    color: white;
}
h1 {
    font-family: 'Courier New', Courier, monospace;
    background-color: yellow;
    text-align: center;
    font-size: 50px;
    color: black;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    color: yellow;
    background-color: black;
}

img {
    display: block;
    margin: auto;
}